@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira%20Code:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Roboto+Mono&display=swap');

body {
    background-color: #FAFDFA;
}

h1 {
    color: #191919;
    font-family: 'Nunito', sans-serif;
    font-size: 44px;
}

p {
    color: #191919;
    font-family: 'Nunito', sans-serif;
}

a img.hover {
    display: none;
}
a img.default {
    display: inherit;
}
a:hover img.hover {
    display: inherit;
}
a:hover img.default {
    display: none;
}

#menu-icons{
    margin-top: 50%;
}
.default , .hover{
    height: 25px;
    width: 25px;
    display: inline-block;
}


#home, #about, #projects {
    margin-bottom: 5%;
}

#right-side{
    margin-left: 90%;
    position: fixed;
    top: 75%;
}
#menu {
    display: grid;
    grid-template-columns: 1fr;
}

#name {
    color: #0831FF;
}

#position {
    /* filter: drop-shadow(2px 2px 6px #0831FF); */
    font-family: 'Roboto Mono', monospace;
    color: #0831FF;
    font-weight: 278;
    font-size: 30px;
}

#summary {
    font-size: 24px;
}

span {
    border-right: .05em solid;
    animation: caret 1s steps(1) infinite;
}

@keyframes caret {
    50% {
        border-color: transparent;
    }
}

#about a, #projects a, #home a {
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0) 50%, #BDFF60 50%);
    background-position: -0% 0;
    background-size: 200% auto;
    color: #191919;
    /* font-size: 1.75em;
    line-height: 1.15em; */
    transition: background-position 0.5s ease-out;
    font-family: 'Roboto Mono', monospace;
}

#about a:hover, #projects a:hover, #home a:hover {
    background-position: -99.99% 0;
    color: #0831FF;
}

#contact {
    padding: 1%;
    background-color: #FAFDFA;
    font-family: 'Roboto Mono', monospace;
    color: #191919;
    border: 0.1em solid;
    font-size: 17px;
}

#contact a {
    text-decoration: none;
    color: #191919;
    text-shadow: 1px 1px 1px #bdff58;
}

#contact:hover {
    text-decoration: underline;
    /* background-color: #BDFF60;
    transition: 0.3s background; */
}

/* #contact a:hover {
    color: #0831FF;
} */