@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Arabic:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DotGothic16&family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anybody&family=DotGothic16&family=Oxanium&family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');


@media screen and (max-width: 950px) {
    #right-side {
        visibility: hidden;
    }

    #left-side {
        margin: 5% auto auto auto !important;
    }

    .icons {
        margin: auto;
    }

    ul {
        column-count: 1 !important;
    }

}



.section {
    display: flex;
    align-items: center;
    /* Center items vertically */
}

/* .section hr {
    flex-grow: 1;
    margin-left: 20px;
    border-top: 1px dashed #dddcd7;
} */

hr {
    position:relative;
    padding:3rem 0;
    border:none;
  }
  hr:before {
    font-family: "DotGothic16", sans-serif;
    content: '\2044\2217\2013\2013\2013\2013\2013\2217\2044';
    position:absolute;
    top:1.2rem;
    right:0;
    left:0;
    font-size:1.5em;
    color:#09297f;
  }

html {
    scroll-behavior: smooth;
}

body {
    font-family:'Manrope', sans-serif;
    transition: background 0.2s linear;
    padding: 30px;
}

body.light {
    background-image: radial-gradient(#b5b5bc 1px, transparent 1px);
    background-size: 32px 32px;
    background-color: #dddcd7;
    color: #00010e;
}

/* Dark theme styles */
body.dark {
    background-image: radial-gradient(#3F3F40 1px, transparent 1px);
    background-size: 32px 32px;
    background-color: #00010e;
    color: #f6f6f6;
    .default, #themeToggle {
        /* turn them white */
        filter: brightness(0) invert(1);
    }

    #name, #position, h3 {
        color: #b5b5bc;
    }

    .menu-part a, .tab-panels p, .default-link:visited {
        color: #f6f6f6;
    }

    .tabset>input:checked+label {
        border-color: #ccc;
        border-bottom: 1px solid #00010e;
        margin-bottom: -1px;
    }
}

h1 {
    font-size: 44px;
}

h3 {
    font-family: 'DotGothic16', sans-serif;
    font-size: 28px;
}


.tab-panels p {
    margin-top: 4px;
    font-family: 'Manrope', sans-serif;
    font-size: 14px;
}

footer {
    margin-top: 10%;
    justify-content: center;
}

footer p, footer a{
    font-size: 11px;
    font-family: 'DotGothic16', sans-serif;
    letter-spacing: 1px;
}


p,
li {
    /* color: #191919; */
    font-size: 18px;
}

ul {
    column-count: 2;
    margin-right: 54%;
}

a img.hover {
    display: none;
}

a img.default {
    display: inherit;
}

a:hover img.hover {
    display: inherit;
}

a:hover img.default {
    display: none;
}

.icons {
    margin: 5px 70% auto auto;
}

.icons a {
    text-decoration: none;
}

.default,
.hover {
    height: 24px;
    width: 24px;
    margin-right: 5%;
}


.menu-part {
    margin-bottom: 5%;
}

#left-side {
    margin: 15% 27% 5% 10%;
}

#right-side {
    margin-left: 87%;
    position: fixed;
    top: 0;
}

#menu {
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 690px;
}

#name, h3 {
    color: #09297f;
}

#position {
    /* filter: drop-shadow(1px 1px 1px #89a0d7); */
    font-family: 'VT323', monospace;
    color: #09297f;
    font-size: 40px;
    letter-spacing: 1px;
    margin-top: 5px;
    margin-bottom: 5px;
}

#summary {
    font-size: 24px;
}

span {
    border-right: .05em solid;
    animation: caret 1s steps(1) infinite;
}

@keyframes caret {
    50% {
        border-color: transparent;
    }
}

.menu-part a {
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0) 50%, #b5b5bc 50%);
    background-position: -0% 0;
    background-size: 200% auto;
    color: #00010e;
    transition: background-position 0.5s ease-out;
    font-family: 'DotGothic16', monospace;
}

.menu-part a:hover {
    background-position: -99.99% 0;
    color: #0831FF;
}



#contact {
    margin: 5px;
    padding: 5%;
    /* background-color: #FAFDFA; */
    background-color: #00010e;
    font-family: 'Roboto Mono', monospace;
    /* color: #191919; */
    color: #f6f6f6;
    border: 0.1em solid;
    font-size: 17px;
}

#contact a {
    text-decoration: none;
    /* color: #191919; */
    color: #f6f6f6;
    text-shadow: 1px 1px 1px #9CEC5B;
    /* 9CEC5B bdff58*/
}

#contact:hover {
    text-decoration: underline;
    /* background-color: #BDFF60;
    transition: 0.3s background; */
}

#about-me {
    margin: 5% auto 10% auto;
}

#home-part {
    margin-bottom: 30%;
}


/**
 * Disable smooth scrolling when users have prefers-reduced-motion enabled
 */
@media screen and (prefers-reduced-motion: reduce) {
    html {
        scroll-behavior: auto;
    }
}

#arabic {
    font-family: 'Noto Sans Arabic', sans-serif;
    font-size: 20px;
}

li::marker {
    color: #09297f;
}

#active_home {
    display: none;
}

/*
 CSS for the main interaction
*/
.tabset>input[type="radio"] {
    position: absolute;
    left: -200vw;
}

.tabset .tab-panel {
    display: none;
}

.tabset>input:first-child:checked~.tab-panels>.tab-panel:first-child,
.tabset>input:nth-child(3):checked~.tab-panels>.tab-panel:nth-child(2),
.tabset>input:nth-child(5):checked~.tab-panels>.tab-panel:nth-child(3),
.tabset>input:nth-child(7):checked~.tab-panels>.tab-panel:nth-child(4),
.tabset>input:nth-child(9):checked~.tab-panels>.tab-panel:nth-child(5),
.tabset>input:nth-child(11):checked~.tab-panels>.tab-panel:nth-child(6),
.tabset>input:nth-child(13):checked~.tab-panels>.tab-panel:nth-child(7) {
    display: block;
}


.tabset>label {
    position: relative;
    display: inline-block;
    padding: 15px 15px 25px;
    border: 1px solid transparent;
    border-bottom: 0;
    cursor: pointer;
    font-weight: 600;
    font-family: 'Manrope', sans-serif;
    font-size: 16px;
}

.tabset>label::after {
    content: "";
    position: absolute;
    left: 15px;
    bottom: 10px;
    width: 22px;
    height: 4px;
    background: #8d8d8d;
}

.tabset>label:hover,
.tabset>input:focus+label {
    color: #09297f;
}

.tabset>label:hover::after,
.tabset>input:focus+label::after,
.tabset>input:checked+label::after {
    background: #09297f;
}

.tabset>input:checked+label {
    border-color: #b5b5bc;
    border-bottom: 1px solid #dddcd7;
    margin-bottom: -1px;
}

.tab-panel {
    padding: 30px 0;
    border-top: 1px solid #b5b5bc;
}


#menu p {
    font-size: 20px;
}

.tab-panels label {
    font-family: 'Manrope', monospace;
    font-size: 10px;
    color: #828282;
}

.tab-panels a {
    font-size: 14px;
    font-family: 'Manrope', sans-serif;
}

.card {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#long {
    width: 25%;
    height: 15%;
}

.project-pic {
    filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.3));
    margin-top: 5px;
    margin-bottom: 5%;
    border-width: thin;
    width: 60%;
    height: auto;
    border-radius: 5px;
}

footer {
    display: block;
    text-align: center;
    font-size: 15px;
}

/* toggle */
#themeToggle {
    margin-bottom: 10px;
    background: inherit;
    border: none;
    border-radius: 50px;
}

.default-link:visited{
    color: #00010e;
}